# Node.js
node_modules/
npm-debug.log
.env
.DS_Store # macOS specific
*.log
*.tgz
*.zip
*.rar
*.7z

# Build artifacts
dist/
build/
coverage/

# Editor/OS specific files
.vscode/ # VS Code specific
.idea/ # WebStorm/IntelliJ specific
Thumbs.db # Windows specific